API_BASE_URL=http://localhost:8080
APP_ENV=local

MYSQLHOST=sql63.jnb2.host-h.net
MYSQLPORT=3306
MYSQLDATABASE=digitcexse_db3
MYSQLUSER=digitcexse_3
MYSQLPASSWORD=f4XLiizRaC9XZH817e88
JWT_SECRET=yerkwedini

# ---------- Email (SMTP) ----------
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=tentswalokhoza2004@gmail.com
MAIL_PASSWORD=rjivuptjmmckbybd
MAIL_FROM=tentswalokhoza2004@gmail.com
MAIL_FROM_NAME=Skakmat

# ---------- App Settings ----------
APP_NAME=Skakmat
